# Ignorar arquivos Python compilados
__pycache__/
database.cpython-312.pyc
database.cpython-314.pyc
add_music_window.cpython-312.pyc
edit_music_window.cpython-312.pyc
main_window.cpython-312.pyc
main_window.cpython-314.pyc
music_service.cpython-312.pyc
music_service.cpython-314.pyc

# Ignorar ambiente virtual
venv/

# Ignorar banco de dados local
musicas.db

#venv
pyvenv.cfg
